body{
  font-family: 'Nanum Gothic', sans-serif;
  margin: 0 auto 40px;
  padding: 12px 0 0 0;
  background-color: #141414;
  color: #fff;
}
a, .slideMenuButton{
  cursor: pointer;
}

header{
  border-bottom: 1px solid #111;
}
.headerBox{
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  margin: 0 0 12px 0;
  font-weight: 800;
  text-align: center;
  font-size: 20px;
}
.headerBox a{
  text-decoration: none;
  color: #fff;
}
#headerYellowBox{
  background: #eb9b3f;
  color: #040707;
  padding: 2px;
  border-radius: 3px;
}
#headerCall{
  color: #999999;
  position: absolute;
  right: 18px;
}

nav{
  width: 100%;
  font-size: 11px;
  font-weight: 700;
}
nav ul{
  padding: 0;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 0 auto;
  list-style: none;
  text-align: center;
}
nav ul li{
  background: #000000;
  padding: 12px 0;
  box-sizing: border-box;
  border-left: 1px solid #262626;
  border-bottom: 1px solid #262626;
}
#navListRightBorder{
  border-right: 1px solid #262626;
}
nav ul li a{
  color: #cccccc;
  text-decoration: none;
}

main{
  font-size: 13px;
}
.mainIndexImgContainer{
  width: 81.5%;
  height: 15vh;
  overflow: hidden;
  margin: 8px auto 0;
  position: relative;
}
.mainIndexImgContainer img{
  display: block;
  position: absolute;
}
#mainIndexImg{
  width: 100%;
  height: 100%;
  z-index: -1;
}
#mainIndexWoomId{
  top: 0;
  right: 0;
  width: 63%;
  height: 100%;
  z-index: -2;
}

.mainIndeximgContainer_bottom_pTag p{
  text-align: center;
  background: #202020;
  color: #4d4d4d;
  width: 135px;
  margin: 0 auto;
  padding: 2.6px 5.2px;
  font-size: 11px;
}
.pickupButton{
  width: 80%;
  margin: 13px auto 0;
}
.pickupButton ul{
  list-style: none;
  padding: 0;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.pickupButton li a{
  text-decoration: none;
  color: #999999;
  background-color: #2f2f2f;
  padding: 5px;
  border-radius: 4px;
  font-size: 11px;
}
#kakao{
  background: rgba(201, 137, 1, 0.25);
}

.indexArticle_header_title{
  margin: 15px auto 0;
  background-color: #1e1e1e;
  width: 100%;
}
.indexArticle_header_title p{
  font-size: 13px;
  font-weight: 700;
  color: #fff;
  padding: 13px;
  margin: 0;
  position: relative;
  width: 312px;
}
#korea{
  position: absolute;
  width: 30px;
  height: 20px;
  right: 9px;
  bottom: 10px;
}

.indexUl{
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
}
.indexUl li{
  margin: 12px auto 0;
}
.overflow_div{
  height: 211px;
  width: 100%;
  overflow: hidden;
  position: relative;
}
.indexUl li img{
  width: 100%;
}
.indexUl_li_arrow{
  position: absolute;
  bottom: 3%;
  right: 2%;
  font-size: 15px;
  font-weight: 700;
}

.indexUl_li_article{
  padding: 0 10px 10px;
}
.indexUl_li_article_title{
  margin: 8px 0 5px;
  padding: 0;
}
.indexUl_li_article_title a{
  color: #FF9900;
  text-decoration: none;
  font-weight: 700;
}

.indexUl_li_article_p{
  margin-top: 13px;
}
.indexUl_li_article_p i, .name, .views, .thumb{
  display: inline;
}
.indexUl_li_article_p i{
  color: rgb(43, 163, 244);
  background: #fff;
  border-radius: 100%;
  font-size: 16px;
}
.indexUl_li_article_p .name{
  margin-left: 7px;
  color: #cacaca;
}
.indexUl_li_article_p .views{
  margin-left: 15px;
  color: #939393;
  font-weight: 700
}
.indexUl_li_article_p .thumb{
  margin-left: 10px;
  color: #939393;
  font-weight: 700
}
#thumbI{
  background: #141414;
  color: #939393;
  font-size: 12px;
}


.footer{
  padding-top: 25px;
  margin-top: 25px;
  border-top: 1px solid #292929;
  color: #939393;
  text-align: center;
}


/* slide menu */
.slideMenuButton{
  display: inline;
  font-size: 25px;
  font-weight: 800;
  color: rgba(255, 108, 108, 0.5);
}
.onlyWomen{
  font-size: 21px;
  text-align: left;
  padding-left: 15px;
  position: relative;
}
#onlyWomenId{
  font-size: 10px;
  position: absolute;
  top: 0px;
  left: 42px;
}

.slideMenu{
  position: fixed;
  transition: 0.8s;
  z-index: 2;
  top: -50px;
  left: -550px;
  height: 120%;
  width: 400px;
  background-color: #383838;
  -webkit-transform: rotate(10deg);
  -ms-transform: rotate(10deg);
  -moz-transform: rotate(10deg);
  -o-transform: rotate(10deg);
  transform: rotate(10deg);
  border-left: 10px solid #eb9b3f;
  border-right: 10px solid #eb9b3f;
}
.bodyBlack{
  display: none;
  position: absolute;
  left: 0;
  top: -12px;
  width: 100%;
  height: 101vh;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1;
}

.slideMenu p{
  color: #eb9b3f;
  margin: 100px 0 50px 0;
}
.slideMenu a{
  display: block;
  color: rgb(162, 113, 113);
  text-decoration: none;
  margin: 30px 0;
  -webkit-transition: 0.4s;
  -ms-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}
.slideMenu a:hover{
  color: rgb(228, 186, 186);
}
.slideMenu p, .slideMenu a{
  text-align: right;
  padding-right: 70px;
  font-size: 20px;
  font-weight: 700;
  -webkit-transform: rotate(-10deg);
  -ms-transform: rotate(-10deg);
  -moz-transform: rotate(-10deg);
  -o-transform: rotate(-10deg);
  transform: rotate(-10deg);
}
